.world-object.state-selected {
  outline: 2px solid #6bc1ff;
}

.world-object.state-valid {
  box-shadow: 0 0 0 1px rgba(74, 222, 128, 0.9);
}

.world-object.state-invalid {
  box-shadow: 0 0 0 1px rgba(248, 113, 113, 0.9);
}
